/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #181C25;
}
  
/* Handle */
  ::-webkit-scrollbar-thumb {
  background: #3E465D;
    border-radius: 12px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6C789D;
    border-radius: 12px;
}
/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) 
{ 

}

/*  Medium devices (tablets, 768px and up) */
@media  (min-width: 577px) and (max-width: 768px) 
{ 

}

/*  Large devices (desktops, 992px and up) */
@media  (min-width: 769px) and (max-width: 992px) 
{ 
    div.hero-container {
        margin-top: 0px;
    }
    img.img-fluid-contact {
        height: 388px;
    }
    div.contact-img.col-md-5 {
        height: 330px;
    }
    h1.headline {
        font-size: 74px;
    }
    h2{
        font-size: 1.45rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: .95rem;
        margin-bottom: 0;
    }
    div.mission-img.col-md-5 {
        padding-bottom: 10px;
        margin-left: 192px;
        padding-top: 0;
    } 
    div.mission-container.container-fluid {
        height: 620px;
        padding-top: 100px;
    }
    div.mission-img.row {
        max-width: 600px;
        margin-left: 175px;
    }
    nav.navbar.navbar-expand-md.navbar-light.fixed-top {
        height: 100px;
    }
    img.img-fluid.logo {
        height: 155px;
    }
    div.progressQuotes {
        margin-top: 97px;
    }
    div.about-container.container-fluid {
        height: 620px;
        padding-top: 100px;
    }
    br.about2 {
        display: none;
    }
    br.about3 {
        display: none;
    }
    img.img-fluid {
        height: 187px;
    }
    div#contact.contact-section.container-fluid {
        height: 620px;
        padding-top: 100px;
    }
    div.contact.row {
        padding-bottom: 0px;
    }
    div.contact.col-md-7 {
        padding-top: 7px;
        padding-bottom: 0;
    }
    h1.contactHeading {
        padding-bottom: 5px;
        margin-bottom: 0;
    }
    form#contact-form {
        max-height: 437px;
    }
    button.btn.btn-primary.mb-3 {
        margin-top: 7px;
        margin-bottom: 0px;
    }
    .social-media {
        max-width: 600px;                                                                                                                            ;
    }
    .Typewriter__wrapper {
        font-size: 1.2rem;
    } 
}
@media screen and (width <= 1024px) {
    h1.headline {
     font-size: 74px;
    } 
    div#contact.contact-section.container-fluid {
        height: 768px;
        padding-top: 147px;
    }
    img.img-fluid-contact {
        height: 418px;
    }
    div.about-container.container-fluid {
        height: 768px;
        padding-top: 140px;
    }
    div.mission-container.container-fluid {
        height: 768px;
        padding-top: 140px;
    }
    div.col-md-5{
        padding-bottom: 36px;
    }
    div.mission-img {
        margin-left: 333px;
    }
    div.mission-img-.col-md-5 {
        padding-bottom: 50px;
        margin-left: 342px;
    }
    .social-media {
        margin-left: 265px;
        max-width: 750px;                                                                                                                            ;
    } 
    div.social-media-wrap {
        max-width: 760px;
    }
}
    
@media  (min-width: 1125px) and (max-width: 1199px) 
{ 
    h1.headline {
        font-size: 74px;
       } 
}
/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) and (max-width: 1200px) 
{ 
    div.about-container.container-fluid {
        height: 800px;
        padding-top: 140px;
    }
    div.mission-img.row {
        width: 600px;
    }
    div.mission-container.container-fluid {
        height: 800px;
        padding-top: 140px;
    }
    h1.headline{
        font-size: 88px;
    }
    h2{
        font-size: 1.45rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4{
        font-size: 1rem;
    }
    div#contact.contact-section.container-fluid {
        height: 800px;
        padding-top: 154px;
    }
    div.contact.col-md-7 {
        max-height: 600px;
    }
    .social-logo{
        font-size: 1.5rem;
        margin-left: -20px;
    }
    .social-media-wrap {
        max-width: 800px;
    }
    .website-rights {
        font-size: .80rem;
    }
    .social-media {
        margin-left: 393px;
        max-width: 798px;                                                                                                                            ;
    }
    div.footer-container {
        height: 88px;
    }
    .hero.container {
        margin-top: 45px;
    }
    div.mission-img.row {
        margin-left: 10px;
    }
    h1.headline {
        font-size: 88px;
       }
    div.mission-img-.col-md-5 {
        padding-bottom: 50px;
        margin-left: 413px;
    } 
}
@media screen and (width <= 1308px) {
   h1.headline {
    font-size: 94px;
   } 
}
/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1201px) and (max-width: 1400px) {
    div.about-container.container-fluid {
        height: 900px;
        padding-top: 155px;
    }
    div#contact.contact-section.container-fluid {
        height: 900px;
        padding-top: 154px;
    }
    div.mission-container.container-fluid {
        height: 900px;
        padding-top: 155px;
    }
    div.cards{
        height: 1135px;
        padding-top: 150px;
    }
    div.footer-container {
        height: 88px;
    }
    div.mission-img.row {
        width: 700px;
        margin-left: 6px;
    }
    img.img-fluid{
        height: 250px;
        margin-left: 6px;
    }
    .social-media {
        margin-left: 227px;
    }
    .social-media-wrap {
        margin-left: 184px;
    }
    h1.headline{
        font-size: 100px;
    }
    div.mission-img-.col-md-5 {
        padding-bottom: 50px;
    }
}
@media (min-width: 1401px) and (max-width: 1920px) {
    div.about-container.container-fluid {
        height: 1080px;
        padding-top: 188px;
    }
    div#contact.contact-section.container-fluid {
        height: 1080px;
    }
    div.mission-container.container-fluid {
        height: 1080px;
        padding-top: 188px;
    }
    div.cards{
        height: 1440px;
        padding-top: 150px;
    }
    div.footer-container {
        height: 88px;
    }
    h4{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h2{
        font-size: 2rem;
    }
    img.img-fluid{
        height: 250px;
    }
    div.mission-img.row {
        margin-left: 7px;
    }
    nav.navbar.navbar-expand-md.navbar-light.fixed-top {
        height: 140px;
    }
    div#contact.contact-section.container-fluid {
        padding-top: 188px;
    }
    .social-logo{
        font-size: 2rem;
    }
    .social-media-wrap {
        width: 90%;
        max-width: 1000px;
    }
    .website-rights {
        font-size: .875rem;
    }
    .social-media {
        margin-left: 463px;
    }
    h1.headline{
        font-size: 100px;
    }
    div.mission-img-.col-md-5 {
        padding-bottom: 50px;
    }
}
 @media (min-width: 1921px) and (max-width: 2560px) {
    div.about-container.container-fluid {
        height: 1440px;
        padding-top: 280px;
    }
    div#contact.contact-section.container-fluid {
        height: 1440px;
    }
    div.mission-container.container-fluid {
        height: 1440px;
        padding-top: 280px;
    }
    div.cards {
        height: 1440px;
        padding-top: 200px;
    }
    h1.headline {
        font-size: 100px;
    }
    h1.mission {
        font-size: 2.1rem;
    }
    h1.about {
        font-size: 2.1rem;
    }
    h1.contactHeading {
        font-size: 2.1rem;
        padding-bottom: 20px;
    }
    h4{
        font-size: 2rem;
    }
    h3{
        font-size: 2.25rem;
    }
    h2{
        font-size: 2.5rem;
    }
    img.img-fluid {
        height: 350px;
    }
    div.mission-img.row {
        margin-left: 15px;
        
    }
    div.mission-img-.col-md-5 {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    nav.navbar.navbar-expand-md.navbar-light.fixed-top {
        height: 188px;
    }
    div#contact.contact-section.container-fluid {
        padding-top: 300px;
    }
    .social-logo {
        font-size: 2rem;
        margin-left: -103px;
    }
    .social-media-wrap {
        max-width: 1240px;
        width: 1010px;
        margin-left: 497px;
    }
    .website-rights {
        font-size: 1.375rem;
    }
    .social-media {
        margin-left: -420px;
    }
    div.footer-container {
        height: 108px;
    }
    div.contact.row {
        padding-top: 10px;
    }
    div.contact.col-md-7 {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    div.contact-img.col-md-5 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    img.navLogo {
        height: 250px;
    }
    h1.mission { 
        font-size: 2.1rem;
    }
    nav.navbar.navbar-expand-md.navbar-light.fixed-top{
        height: 140px;
    }
}