/* --------- */
/*Scrollbar   */
/* --------- */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181C25;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3E465D;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6C789D;
    border-radius: 12px;
}

/* --------- */
/*Navbar   */
/* --------- */
div#responsive-navbar-nav.navbar-collapse.collapse {
    justify-content: end;
}

nav.navbar.navbar-expand-md.navbar-light.fixed-top {
    position: absolute;
}

a.nav-link {
    color: #f5b51b !important;
    font-weight: 660;
}

nav.navbar.navbar-expand-md.navbar-light.fixed-top {
    background-color: #242424;
    height: 140px;
}
.nav-link:focus,
.nav-link:hover {
    color: white !important;
}

img.img-fluid {
    height: 250px;
    margin-left: 3px;
}

/* --------- */
/*Hero Container   */
/* --------- */
.hero-container {
    background-image: url("./Assets/Images/istockphoto-1658897093-1024x1024.jpg");
    background-color: #110e1b;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    margin-top: 100px;
}

.hero-container>h1 {
    color: #fff;
    margin-top: -100px;
}

.hero-container>p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

h1.headline {
    font-size: 100px;
}

.Typewriter__wrapper {
    font-size: 1.7em;
    color: #fff !important;
    font-weight: 600 !important;
}

.Typewriter__cursor {
    font-size: 1.9em;
    color: #fff !important;
}

div.Typewriter {
    max-width: 900px;

}

div.progressQuotes {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-height: 50px;
    margin-top: 220px;

}

/* --------- */
/*About   */
/* --------- */
.about-container.container-fluid {
    height: 1080px;
    padding-top: 175px;
}

/* --------- */
/*Mision   */
/* --------- */
.mission-container.container-fluid {
    height: 1080px;
    padding-top: 175px;
}

.mission-description.row {
    text-align: left;
}

img.missionImg-fluid {
    height: 350px;
}

.mission-img.row {
    margin-left: 440px;
}

/* --------- */
/*Contact   */
/* --------- */
#contact.contact-section.container-fluid {
    height: 1080px;
    padding-top: 175px;
}

input#FormControlInputEmail.inputContactform-control{
    width: 420px;
}
input#FormControlInputSubject.inputContactform-control{
    width: 420px;
}

textarea#FormControlTextarea.inputContactform-control{
    width: 420px;
}
img.phone{
    width: 4%;
}
img.location{
    width: 4%;
}
img.email{
    width: 4%;
}
img.imgContact-fluid{
    width: 420px;
    height: 420px;
}
div.form-group1{
    margin-left: 20px;
    
}
div.form-group2{
    margin-left: 9px;

}
img.img-fluid-contact {
    height: 450px;
}


/* --------- */
/*Footer   */
/* --------- */
.social-media-wrap {
    margin-top: 40px;
    margin-left: 380px;
}
.social-icons {
    width: 240px;
}

@media (min-width: 1921px) and (max-width: 2560px) {
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1279px;
        padding-top: 200px;
    }
    h1.about {
        font-size: 3rem;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 1279px;
        padding-top: 200px;
    }
    h1.mission {
        font-size: 3rem;
    }
    /* --------- */
    /*Services   */
    /* --------- */
    .cards {
        height: 1279px;
        padding-top: 200px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 1279px;
        padding-top: 200px;
    }
    h1.contactHeading {
        font-size: 3rem;
    }
}
/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1201px) and (max-width: 1440px) {
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 900px;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 900px;
    }
    img.missionImg-fluid {
        height: 290px;
    }
    .mission-img.row {
        margin-left: 490px;
    }
    /* --------- */
    /*Services   */
    /* --------- */
    .cards {
        height: 1168px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 900px;
    }
}
/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) and (max-width: 1200px) {
    /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline{
        font-size: 88px;
        margin-top: -138px;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 800px;
    }
    h1.about {
        font-size: 2.5rem;
    }
    h2.about{
        font-size: 1.45rem;
    }
    h3.about{
        font-size: 1.25rem;
    }
    h4.about{
        font-size: 1rem;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 800px;
    }
    h1.mission {
        font-size: 2.5rem;
    }
    h2.mission{
        font-size: 1.45rem;
    }
    h3.mission{
        font-size: 1.25rem;
    }
    h4.mission{
        font-size: 1rem;
    }
    img.missionImg-fluid {
        height: 286px;
    }
    .mission-img.row {
        margin-left: 416px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 800px;
    }
    h1.contactHeading {
        font-size: 2rem;
    }
    /* --------- */
    /*Footer   */
    /* --------- */
    small.website-rights {
        margin-left: 8px;
    }
}
@media screen and (width <= 1024px) {
    /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline{
        font-size: 75px;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 768px;
        padding-top: 150px;
    }
     /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 768px;
        padding-top: 150px;
    }
    .mission-img.row {
        margin-left: 324px;
    }
    img.missionImg-fluid {
        height: 280px;
    }
    /* --------- */
    /*Services   */
    /* --------- */
    .cards {
        padding-top: 150px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 768px;
        padding-top: 150px;
    }
    img.img-fluid-contact {
        height: 416px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */
    .social-media-wrap {
        margin-left: 215px;
    }
    small.website-rights {
        margin-left: 8px;
    }
    a.social-logo {
        width: 60px;
    }
}
/*  Large devices (desktops, 992px and up) */
@media  (min-width: 769px) and (max-width: 992px) {

    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 620px;
    }
    h1.about {
        font-size: 2rem;
        margin-bottom: 0;
    }
    h2.about{
        font-size: 1.45rem;
        margin-bottom: 0;
    }
    h3.about{
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    h4.about{
        font-size: 1rem;
        margin-bottom: 0;
    }
    br.about2 {
        display: none;
    }
    br.about3 {
        display: none;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 620px;
    }
    h1.mission {
        font-size: 2rem;
    }
    h2.mission{
        font-size: 1.45rem;
    }
    h3.mission{
        font-size: 1.25rem;
    }
    h4.mission{
        font-size: 1rem;
    }
    img.missionImg-fluid {
        height: 142px;
    }
    .mission-img.row {
        margin-left: 385px;
    }
    /* --------- */
    /*Services   */
    /* --------- */
    .cards {
        padding-top: 150px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 620px;
        padding-top: 150px;
    }
    img.img-fluid-contact {
        height: 400px;
    }
    h1.contactHeading {
        font-size: 2rem;
        margin-bottom: 0;
    }
    h5.contact {
        font-size: .95rem;
        margin-bottom: 0;
    }
    div.row.uploadForm {
        height: 79px;
    }
    textarea.form-control.formInput {
        height: 60px;
    }
    .contact.col-md-7 {
        height: 460px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */
    .social-media-wrap {
        margin-left: 183px;
    }
}
/*  Medium devices (tablets, 768px and up) */
@media  (min-width: 577px) and (max-width: 768px) { 
    /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline{
        font-size: 56px;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1024px;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 1024px;
    }
    .mission-img.row {
        margin-left: 208px;
    }
     /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 1024px;
        padding-top: 200px;
    }
    img.img-fluid-contact {
        height: 308px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */
    .social-media-wrap {
        margin-left: 12px;
    }
    small.website-rights {
        margin-left: -10px;
    }
    .social-icons {
        width: 191px;
    }
}

/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) { 
    /* --------- */
    /*Navbar   */
    /* --------- */
    img.img-fluid.logo {
        height: 192px;
    }
    .nav.container {
        height: 130px;
        margin-bottom: 104px;
    }
    a.nav-link {
        width: 84px;
    }
    .nav-item {
        width: 84px;
    }
    nav.navbar.navbar-expand-md.navbar-light.fixed-top {
        height: 200px;
    }
    /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline {
        font-size: 43px;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1282px;
        padding-top: 215px;
    }
     /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 1142px;
        padding-top: 215px;
    }
    .mission-img.row {
        margin-left: 110px;
    }
    img.missionImg-fluid {
        height: 248px;
    }
     /* --------- */
    /*Services   */
    /* --------- */
    h1.scards {
        padding-top: 50px;
    }
     /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 1142px;
        padding-top: 215px;
    }
    img.img-fluid-contact {
        height: 381px;
    }
    div.contact-img.col-md-5 {
        width: 1px;
        margin-right: 383px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */
    .social-media-wrap {
        display: block;
        margin-left: 7px;
    }
    .social-icons {
        display: block;
        width: 217px;
    }
}
@media screen and (width <=527px) { 
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 1164px;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    h1.mission {
        font-size: 2rem;
    }
    h2.mission{
        font-size: 1.45rem;
    }
    h3.mission{
        font-size: 1.25rem;
    }
    h4.mission{
        font-size: 1rem;
    }
    .mission-img.row {
        margin-left: 49px;
    }
}
@media screen and (width <=500px) { 
    /* --------- */
    /*Hero Container */
    /* --------- */
    .Typewriter__wrapper {
        font-size: 1.2rem;
    }
}
@media screen and (width <=451px) { 
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1005px;
        padding-top: 215px;
    }
    h1.about {
        font-size: 2rem;
        margin-bottom: 0;
    }
    h2.about{
        font-size: 1.45rem;
        margin-bottom: 0;
    }
    h3.about{
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    h4.about{
        font-size: 1rem;
        margin-bottom: 0;
    }
}
@media screen and (width <=430px) {
    /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline{
        margin-top: -98px;
    }
    .Typewriter__wrapper {
        font-size: 1.2rem;
    }
    br.pq1 {
        display: none;
    }
    br.pq2 {
        display: none;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1005px;
        padding-top: 215px;
    }
    h1.about {
        font-size: 2rem;
        margin-bottom: 0;
    }
    h2.about{
        font-size: 1.45rem;
        margin-bottom: 0;
    }
    h3.about{
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    h4.about{
        font-size: 1rem;
        margin-bottom: 0;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 979px;
        padding-top: 215px;
    }
    h1.mission {
        font-size: 2rem;
    }
    h2.mission{
        font-size: 1.45rem;
    }
    h3.mission{
        font-size: 1.25rem;
    }
    h4.mission{
        font-size: 1rem;
    }
    .mission-img.row {
        margin-left: 49px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 1142px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */

    .footer-logo {
        width: 41px;
    }
    .footer-container {
        height: 95px;
    }
    small.website-rights {
        font-size: .4rem;
    }
    .social-icons {
        width: 64px;
    }
}
@media screen and (width <=414px) {
     /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline{
        margin-top: -98px;
    }
    .Typewriter__wrapper {
        font-size: 1.2rem;
    }
    br.pq1 {
        display: none;
    }
    br.pq2 {
        display: none;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1075px;
        padding-top: 215px;
    }
    h1.about {
        font-size: 2rem;
        margin-bottom: 0;
    }
    h2.about{
        font-size: 1.45rem;
        margin-bottom: 0;
    }
    h3.about{
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    h4.about{
        font-size: 1rem;
        margin-bottom: 0;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 998px;
        padding-top: 215px;
    }
    h1.mission {
        font-size: 2rem;
    }
    h2.mission{
        font-size: 1.45rem;
    }
    h3.mission{
        font-size: 1.25rem;
    }
    h4.mission{
        font-size: 1rem;
    }
    .mission-img.row {
        margin-left: 49px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */

    .footer-logo {
        width: 41px;
    }
    .footer-container {
        height: 95px;
    }
    small.website-rights {
        font-size: .4rem;
    }
    .social-icons {
        width: 64px;
    }
}

@media screen and (width <=360px) {
     /* --------- */
    /*Hero Container   */
    /* --------- */
    h1.headline{
        margin-top: -98px;
    }
    .Typewriter__wrapper {
        font-size: 1.2rem;
    }
    br.pq1 {
        display: none;
    }
    br.pq2 {
        display: none;
    }
    /* --------- */
    /*About   */
    /* --------- */
    .about-container.container-fluid {
        height: 1135px;
    }
    /* --------- */
    /*Mission   */
    /* --------- */
    .mission-container.container-fluid {
        height: 1055px;
    }
    .mission-img.row {
        margin-left: 15px;
    }
    /* --------- */
    /*Contact   */
    /* --------- */
    #contact.contact-section.container-fluid {
        height: 1124px;
    }
    img.img-fluid-contact {
        height: 367px;
    }
    /* --------- */
    /*Footer   */
    /* --------- */

    .footer-logo {
        width: 41px;
    }
    .footer-container {
        height: 95px;
    }
    small.website-rights {
        font-size: .4rem;
    }
    .social-icons {
        width: 64px;
    }
}