div.employees-description2.row{
    text-align: right;
    margin-left: 140px;
}
img.d-block.w-100{
    height: 280px;
    
}
div.recruitingPositions.col{
    max-width: 450px!important;
}

div.carousel-caption{
    text-shadow: 2px 2px black;
}
