@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap");
body {
  margin: 0;
  font-family: "Rokkitt"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(30 70 93), rgb(62 70 93))
}

