div#responsive-navbar-nav.navbar-collapse.collapse {
    justify-content: end;
}
nav.navbar.navbar-expand-md.navbar-light.fixed-top {
    position: absolute;
}
a.nav-link{
    color: #f5b51b!important;
    font-weight:660;
}
nav.navbar.navbar-expand-md.navbar-light.fixed-top{
    background-color: #242424;
}
.nav-link:focus, .nav-link:hover {
    color: white!important;
}